/* body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
} */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


.bg{

  background-image: linear-gradient(to top left, #8a4592, #35b0a9);
  padding-top: 20px;
}
/* Header */

span,img{
  vertical-align: middle;
}


/* Body */
.card-bg{

  background: rgb(0,0,0,0);
 
}

.transparent:hover{

  top: -5px;
  cursor: pointer;

}

/* login */
.form-box{
  
  margin: 50px auto;
  padding: 20px;
  
}
.forms{

  padding: 10px;
}

.ul-profile{
  border:none;
}


/* sidebar */



/* images */


/* profile */
#edit-form .edit-input{

  margin-top: 70px;

}
/* button */
#choose-profile{

  

}

